[colors]
# Base16 Yang
# Scheme: Drew Flower (http://github.com/drewvanstone)

foreground      = #444444
foreground_bold = #444444
cursor          = #444444
background      = #FFFFFF

# 16 color space
color0  = #222222
color1  = #777777
color2  = #777777
color3  = #777777
color4  = #FFFFFF
color5  = #FFFFFF
color6  = #FFFFFF
color7  = #DDDDDD
color8  = #555555
color9  = #777777
color10 = #777777
color11 = #777777
color12 = #FFFFFF
color13 = #FFFFFF
color14 = #FFFFFF
color15 = #FFFFFF

# 256 color space
color16 = #777777
color17 = #777777
color18 = #333333
color19 = #444444
color20 = #666666
color21 = #777777
