[global_config]
  title_transmit_bg_color = "#777777"
  title_inactive_bg_color = "#555555"
  focus = system
[keybindings]
[profiles]
  [[default]]
    background_image = None
    copy_on_selection = True
    allow_bold = False
    palette = "#222222:#777777:#777777:#777777:#FFFFFF:#FFFFFF:#FFFFFF:#DDDDDD:#555555:#777777:#777777:#777777:#FFFFFF:#FFFFFF:#FFFFFF:#FFFFFF"
    foreground_color = "#DDDDDD"
    background_color = "#222222"
    cursor_color = "#DDDDDD"

  [[Base16 Yang Dark]]
    background_image = None
    copy_on_selection = True
    allow_bold = False
    palette = "#222222:#777777:#777777:#777777:#FFFFFF:#FFFFFF:#FFFFFF:#DDDDDD:#555555:#777777:#777777:#777777:#FFFFFF:#FFFFFF:#FFFFFF:#FFFFFF"
    foreground_color = "#DDDDDD"
    background_color = "#222222"
    cursor_color = "#DDDDDD"

[layouts]
  [[default]]
    [[[child1]]]
      type = Terminal
      parent = window0
      profile = Base16 Yang Dark
    [[[window0]]]
      type = Window
      parent = ""
[plugins]
